<h5> Bonjour <% @user.name %> <h5>
  <br />
<p>Un professeur vous a invité à consulter vos notes sur le site de gestionnaire de notes. Pour vous connecter renseignez: </p>
<ul>
  <li> Votre nom </li>
  <li> Votre adresse email </li>
  <li> et le mot de passe suivant <%= @user.password %></li>
</ul>
<br/>
<p> À très bientôt sur le gestionnaire de notes !</p>
<footer>De l'administration</footer>
