<p> Bonjour <% @user.name %> <p>
  <br />
<p>Un professeur vous a invité un consulter vos notes sur le site de gestionaire de note. Pour vous connecter renseignez: </p>
<p> Votre nom </p>
<p> Votre adresse email </p>
<p> et le mot de passe suivant <%= @user.password %></p>
<br />
<p> À très bientôt sur le gestionaire de notes</p>
